/*
COLOUR PALETTE

Federal Blue    #1B065E
Smoky Black     #141204
Chestnut        #8E443D
Khaki           #B3A394
White Smoke     #F5F5F5
*/

/*--------------------------------------------------
        GLOBAL STYLES 
--------------------------------------------------*/

body {
    background: #f5f5f5;
}

/* links */
a {
    color: #141204;
    text-decoration: none;
}

a:hover {
    color: #B3A394;
    text-decoration: underline;
}

footer a {
    color: #ffffff;
}

/*--------------------------------------------------
        HOME 
--------------------------------------------------*/

/*--------------------------------------------------
        PORTFOLIO 
--------------------------------------------------*/

/*--------------------------------------------------
        BLOG 
--------------------------------------------------*/

/*--------------------------------------------------
        CONTACT 
--------------------------------------------------*/

/*--------------------------------------------------
        FOOTER 
--------------------------------------------------*/
footer {
    background: #8E443D;
    color: #ffffff;
}