/*
COLOUR PALETTE

Federal Blue    #1B065E
Smoky Black     #141204
Chestnut        #8E443D
Khaki           #B3A394
White Smoke     #F5F5F5
*/

/*--------------------------------------------------
        GLOBAL STYLES 
--------------------------------------------------*/

body {
    background: #f5f5f5;
}

/*--------------------------------------------------
        HOME 
--------------------------------------------------*/

/*--------------------------------------------------
        PORTFOLIO 
--------------------------------------------------*/

/*--------------------------------------------------
        BLOG 
--------------------------------------------------*/

/*--------------------------------------------------
        CONTACT 
--------------------------------------------------*/

/*--------------------------------------------------
        FOOTER 
--------------------------------------------------*/
footer {
    background: #B3A394;
    color: #141204;
}